.uploadForm form {
  text-align: center;
}
.uploadForm label input {
  height: 0;
  width: 0;
  opacity: 0;
}
.uploadForm label {
  cursor: pointer;
}

.uploadForm label:hover {
  color: var(--primary);
}

.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--error);
  font-size: medium;
}
