@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  margin: 0px;
}

.header {
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 100px;
  padding-left: 40px;
  background-color: #60a5fa;
  color: white;
  font-size: 60px;
}

.header img {
  margin-left: 5px;
  height: 100px;
  width: 100px;
}
