@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  margin: 0px;
  margin-bottom: 50vh;
}

.header {
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 100px;
  padding-right: 100px;
  background-color: #60a5fa;
  color: white;
  font-size: 60px;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.header img {
  margin-left: 5px;
  height: 100px;
  width: 100px;
}
